/* css reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  background-color: #030124;
  font-family: "Open Sans", sans-serif;
}
.main-heading {
  background-color: #040231;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
  padding: 2em;
}

.heading {
  color: white;
}

.input-field {
  display: inline;
}

input[type="text"] {
  background-color: #040231;
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid #2e2e2e;
  color: white;
}

input[type="text"] {
  transition: ease-in-out, width 0.35s ease-in-out;
}

button {
  background-color: #550007;
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid #550007;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #83011d;
  border-radius: 10px;
  padding: 10px 20px;
  border: 2px solid #83011d;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.check {
  width: 30px;
  fill: white;
}

.todo-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #060069;
  padding: 0.5em 2em;
  border-radius: 10px;
  margin: 2em;
}

.todo-card h2 {
  color: white;
}

.todo-card button {
  background-color: #550007;
  border-radius: 10px;
  padding: 5px 20px;
  border: 2px solid #550007;
  color: white;
  font-weight: bold;
}

.todo-card button:hover {
  background-color: #83011d;
  border-radius: 10px;
  padding: 5px 20px;
  border: 2px solid #83011d;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}
